work
*.ini
*.mpf
*.mti
*.wlf
*.vstf
wlf*
transcript
virtuals.do


_xmsgs
iseconfig
_ngo
xlnx_auto_0_xdb
xst

*.bgn
*.bit
*.blc
*.bld
*.html
*.cmd_log
*.drc
*.debug
*.gise
*.lso
*.map
*.csv
*.mrp
*.map
*.ncd
#*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xtl
*.xml
*.xpi
*.xrpt
*.xst
*.xwbt
*.txt
*.log

impact.xsl

*.cgp
*.asy
*.ncf
*.sym
*.veo
tmp
# IP 文件夹
doc
#example_design
implement
simulation

Top_cs.ngc
Top.ngc
